/*
      Variables
      -------------------------
 */
$baseColor-light: darkgray;
$baseColor-dark: gray;
$super-light-gray: #eee;
$orange: #dd5638;
$highlightColor: #e4e3e3;
$submenu-background:#2e2728;
